{% extends 'base.html' %}

{% block conteudo %}

</br>


    <div class="container">
     
        <h1> Cadastro de cliente </h1></br>
        <form action="{% url 'home' %}" method="POST"> {% csrf_token %} 
            
        {% if messages  %}
        <br>
        {% for message in messages %}
            <div class="alert {{ message.tags }}">{{message}}</div>
        {% endfor %}
    {% endif %}
   
            {% csrf_token %}
          
            <div class="form-group col-md-5">
                <label for="exampleInputEmail1">Apelido</label>
                <input type="text" name="apelido" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Seu apelido">
                <small id="emailHelp" class="form-text text-muted"></small>
            </div>
            <div class="form-group col-md-5">
                <label for="exampleInputPassword1">Nome</label>
                <input type="text" name="nome" class="form-control" id="exampleInputPassword1" placeholder="Digite o nome da empresa">
            </div>
            <div class="form-group col-md-5">
                <label for="exampleInputPassword1">Telefone</label>
                <input type="text" name="telefone" class="form-control" id="exampleInputPassword1" placeholder="Digite o número do seu telefone">
            </div>
            <div class="form-group col-md-5">
                <label for="exampleInputPassword1">Email</label>
                <input type="email" name="email" class="form-control" id="exampleInputPassword1" placeholder="Digite seu email">
            </div>
        
            <br>
            <button type="submit" class="btn btn" style="background-color: #356378; color: white;">Enviar</button></br></br>
           

            <a href="{% url 'lista' %}" class="btn btn-dark btn-md ">Veja sua lista</a>  
        </form>

    </div>
</div>

 


{% endblock %}


